{% extends 'base.html' %} {% block content %}
<!-- Masthead-->
<!-- <header class="masthead">
        <div class="container">
            <section>
                <form method = "post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="formImg" class="form-label">{{ form.img_profile }}</label>
                    <button class="btn btn-primary mt-2" type="submit">Valider</button>
                </form>
            </section>
        </div>
    </header> -->
{% endblock content %} {% block about %} {% endblock about %} {% block contact %} {% endblock contact %}